.tribe-events-l-container {
	padding-top: 20px!important;
	padding-bottom: 20px!important;
	min-height: 100px!important;
}
.tribe-events-schedule h2 {
    margin-top: 0em;
}
.grid {
    display:grid;
    grid-template-columns: 70% 30%;
    padding: 10px;
}
.grid .details {
    text-align: left!important;
    font-size: .8em;
    font-style:italic;
    max-height: 0px;
    overflow: hidden;
    transition: .2s all;
    margin: 2px 10px 5px 10px;
}
.grid .title {
    cursor: pointer;
}
.grid .details.show {
    max-height: 300px;
    overflow:auto;
}
.grid div:last-child {
    text-align:right;
}
.grid.total {
    font-weight: bold;
    border-top: 1px solid #ccc;
    margin-top: 0px;
    padding-top: 8px;
}
#allhours {
    margin-top: 30px;
    margin-bottom: 60px;
}
.note {
    margin-top: 30px!important;
    font-size:.75em;
    font-style: italic;
    color: #333;
}
#pinresponse {
    margin-top: 10px!important;	
    font-style: italic;
    color: #333;
}
.tribe-events-calendar-month__events {
    overflow: auto;
}
.tribe-events-calendar-month__day-cell .tribe-events-calendar-month__calendar-event-datetime,
.tribe-events .tribe-events-calendar-month-mobile-events__mobile-day--show {
    display:none;
}
.tribe-events-calendar-month__day-cell h3,
.tribe-events-calendar-month__day-cell h4 {
    display: inline-block;
}
.tribe-events .tribe-events-calendar-month__calendar-event {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
/*.tribe-events-cal-links,
.tribe-events-event-meta,
#tribe-events-footer,
#site-footer,
span.details,
span.rate,
.tribe-events-c-ical,
.tooltipster-sidetip .tooltipster-content .tribe-events-calendar-month__calendar-event-tooltip-datetime,
.single .tribe-events-schedule,
.tribe-events-calendar-month-mobile-events__mobile-day {
    display: none!important;
}*/

.tribe-common a.button,
.button {
    margin-top: 2px;
    margin-right: 20px;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 6px 15px;
}
.tribe-common a.button:hover,
.button:hover {
    color: #5d5d5d;
    border-color: #5d5d5d;
}
.tooltipster-base.tribe-events-tooltip-theme {
    padding: 20px 24px 24px!important;
} 
.single .tribe-events-single-event-description {padding-top: 25px;}
#client-login {
    color: #141827;
    font-family: Helvetica Neue,Helvetica,-apple-system,BlinkMacSystemFont,Roboto,Arial,sans-serif;
    display: flex;
    align-items: center;
    color: #141827;
    font-size: 11px;
    font-weight: 400;
    color:#5d5d5d;
    justify-content: center;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;	
    text-align: center;
    flex-direction: column;
}
#client-login p {
    display: block;
}
#client-login input {
    padding: 5px;
    width: 300px;
    display: block;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-align: center;
    outline: 0!important;
}
#client-login input,
#client-login p,
#tribe-events-footer {
    display:none;
}
.calculate-hours span.details,.calculate-hours  span.rate {
    display: none!important;
}
.tribe-events-calendar-month__calendar-event-details {
    display:none!important;
}
.role-administrator .tribe-events-calendar-month__calendar-event-details,
.tribe-events-calendar-month__calendar-event-details.has-access {
    display:block!important;
}
.logged-out #allhours {
    display:none;
}

.logged-out {
    overflow:hidden;
}
.logged-out.has-access {
    overflow: auto;
}
.tribe-events-calendar-latest-past {
    display:none!important;
}
/*.tribe-events-c-view-selector {display:none!important;}*/
@media all and (min-width:768px) {
    .tribe-events-calendar-month__day,
    .tribe-events-calendar-month__day-cell {
        height: 168px!important;
        overflow: hidden;
    }
}
@media all and (max-width:768px) {
    .tribe-events .tribe-events-header {margin-bottom: 30px!important;}
}